body{
    padding: 0px;
    margin: 0px auto;
}
#bo {
    margin-left: auto;
    margin-right: auto;
    width: 980px;
}
#menu {
    height: 70px;
    margin: 0px;
    background-color: darkcyan;
    
}
#menu ul {
    float: left;
    list-style: none;
}

#menu ul li {
    
    position: relative;
    float: left;  
    
}

#menu li:hover ul {
    display: block;
}
#menu  li a {
    display: block;
    text-decoration: none;
    padding: 10px 15px;
}
#menu ul li a:hover {
    background-color: aquamarine;
    text-decoration-color: blueviolet;
}
#menu li ul {
    background: pink;
    position: absolute;
    display: none;
    width: 380px;
    margin: 10px;
}
#left li {
    list-style: none;
}
#left li a {
    text-decoration: none;
    line-height: 45px;
    margin-left: 5px;
}
#left li :hover {
    color: red;
}

#top {
    background-image:url("./image/banner.png");
    background-color: yellow;
    height: 160px;
    width: 980px;  
}
#middle #left{
    width: 165px;
    float: left;
    margin-top: 25px;
    min-height: 700px;
    
}
#middle #center {
    width: 635px;
    margin-top: 25px;
    margin-left: 10px;
    float: left;
    min-height: 700px;
}
#center #title {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
#center #concept {
    font-family: 'Times New Roman', Times, serif;
}
#middle #right {    
    min-height: 700px; 
    margin-top: 25px;  
    float: left;
    width: 130px;  
    
}
#left li {
    left:0px;
	height:45px;
	padding:0px ;  
    margin:0px;      
    background-image: url('./image/bgmenu.gif');
}
#right ul li {
    list-style: none;
}
 ul  {
    margin-left: 0;
    padding: 0;
    margin-top: 0px;
    
}
img.border {
    border: solid 1px red;
    margin-bottom: 5px;
}
img.border:hover{
                        
    cursor: pointer;
}
#bottom {
    clear: left;
    background-color: brown;
    min-height: 30px;

}